# IDE config
.vscode/

# Standard C ignore
obj/
**/*.o

# Ignore output
sobelf

# Keep one reference version of the processed images in ref-processed
# Ignore all other processed images 
images/processed
images/test
results/out.csv

# Ignore doc output
doc/

benchmarks/out


